<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>
<body>

<ul>
  <li><a href="#academic_interest">Academic Interest</a></li>
  <li><a href="#personal_interest">Personal Interest</a></li>
  <li><a href="#about_me">About Me</a></li>
</ul>

</body>
</html>
